<head>
  <style>
      .container {
          text-align: center;
          width: auto;  /* Aumenta a largura para 100% do contêiner pai */
          height: auto; /* Mantém a proporção da imagem */
          /*margin: 30px;   Define uma margem de 20 pixels em todos os lados */
          /* padding: 1px;  Exemplo de padding para ver claramente a margem */
            /*background-color: lightblue; */
      }
  </style>
</head>
<body>
  <div class="container">
      <img [src]="'assets/amarn/images/banner450.png'" alt="Banner principal">
  </div>
</body>
<!-- 
<body>
  <img style="text-align: center;" alt="" [src]="'assets/amarn/images/banner3.png'"/> 
</body>
-->
<!-- without the []="''" Firefox downloads both the fallback and the resolved image -->